body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
  color: #0f172a;
}

/* container utama */
.container {
  max-width: 700px;
  margin: 80px auto;
  padding: 20px;
}

/* header profile */
.profile-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* foto */
.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3b82f6;
}

/* teks */
.info h1 {
  font-size: 20px;
  margin: 0;
}

.info p {
  margin-top: 5px;
  color: #475569;
}

/* garis */
.line {
  height: 1px;
  background: #cbd5e1;
  margin: 20px 0;
}

/* menu */
.menu {
  display: flex;
  gap: 15px;
}

/* button normal */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  background: #3b82f6;
  color: white;

  transition: 0.2s;
}

button:hover {
  background: #2563eb;
  transform: translateY(-2px);
}